* {
margin : 0;
padding : 0;
font-family : 'Helvetica Neue', Tahoma, sans-serif;
}
.wrapper {
width : 910px;
padding : 16px 45px;
margin : 0 auto;
}
.phone:before {
content : url(../img/phone.png);
position : relative;
top : 6px;
left : 7px;
margin-right : 6px;
}
.phone {
float : left;
padding-right : 15px;
font-family : 'TIMES NEW ROMAN', Tahoma, sans-serif;
}
.phone span {
padding : 0 0 0 0;
font-size : 18px;
color : #888888;
letter-spacing : 0.5px;
}
.login form:before {
content : url(../img/login.png);
position : relative;
top : 5px;
padding : 0 0 0 1px;
margin : 0 2px 0 0;
}
form {
margin : 0 0 3px 0;
padding : 0 0 0 0;
}
.login {
float : left;
padding : 0 0 0 5px;
font-family : "Lucida Sans Unicode";
font-size : 10px;
border-radius : 3px;
background : linear-gradient(to bottom, #1f6787, #0d3458);
box-shadow : 2px 2px 2px 0 rgb(150, 150, 150);
}
.log_in, .password {
vertical-align : middle;
margin : 0 0 0 0;
padding : 0 0 0 0;
}
.login [placeholder] {
vertical-align : middle;
height : 12px;
width : 110px;
margin : 0 3px 3px 0;
padding : 2px 0 1px 0;
text-align : left;
}
.enter {
margin-right : 0;
letter-spacing : 0;
color : #fff;
background : rgba(0, 0, 0, 0);
border : rgba(0, 0, 0, 0) solid 1px;
cursor : pointer;
font-size : 13px;
}
.login a {
display : inline-block;
color : #fff;
letter-spacing : 0.7px;
margin : 0 0 0 0;
padding : 0 0 0 0;
}
.reg {
color : #fff;
text-decoration : none;
margin : 0 1px 0 0;
padding : 0 0 0 0;
}
a.forgetpswrd {
color : #bfbfbf;
padding : 8px 7px 0 19px;
float : right;
letter-spacing : 1.5px;
}
header a:hover {
text-decoration : underline;
}
.sitemap {
float : left;
width : 63px;
border : #d3d8da solid 1px;
border-radius : 13px;
padding : 0 0 2px 13px;
margin : 0 0 0 14px;
box-shadow : 0 0 1px 1px rgba(211, 216, 218, 1);
}
.sitemap li {
display : inline;
}
.sitemap span {
display : block;
float : left;
padding : 0 0 1px 3px;
}
.sitemap span img:hover {
border : red solid 2px;
}
header:after {
clear : both;
display : block;
content : '';
}
.foto {
padding-bottom : 0;
}
.foto img {
padding : 10px 0 0 0;
margin : 0;
}
.menu:before {
display : block;
content : '';
height : 3px;
background : linear-gradient(to bottom, #4d5662, #3a4046);
}
.menu {
padding-left : 133px;
font-size : 14px;
font-family : 'Lucida Sans Unicode';
line-height : 15px;
background : linear-gradient(to bottom, #3a4046, #010101);
border-radius : 4px;
}
.left_menu {
float : left;
}
.left_menu li {
display : inline;
padding : 0px 2px 0px 2px;
margin:  0px 0px 0px 0px;
}
.menu a:hover {
background : #195779;
border-radius : 13px;
color : #fff;
}
.left_menu a {
text-decoration : none;
 line-height: 30px;

padding : 0px 10px;
color : #b1bcc0;
font-size : 13px;
letter-spacing : 1px;
word-spacing : 2px;
}
.menu a:hover {
background : #195779;
border-radius : 13px;
color : #fff;
}
.rightmenu {
margin-right : 23px;
text-align : right;
font-size : 11px;
letter-spacing : 0px;
}
.rightmenu li {
list-style-type : none;
margin-top : 4px;
color : #868e92;
float : right;
padding-left : 9px;
}
.rightmenu span {
display : block;
margin-top : 2px;
font-family : arial;
font-size : 12px;
color : #0d5a8f;
letter-spacing : 0px;
}
.rightmenu a {
text-decoration : none;
}
.rightmenu:after {
	padding: 4px 0px;
content : url(../img/basket.png);
display : block;
margin-top : 2px;
}
.rightmenu li:nth-child(3) {
width : 3px;
padding : 0 9px 0 3px;
}
.rightmenu li:nth-child(4) {
padding-right : 3px;
padding-left : 5px;
}
.forms {
margin-top : 12px;
padding : 0 3px;
}
.forms:after {
clear : both;
display : block;
content : '';
}
.leftform {
float : left;
margin-top : 0px;
padding : 0 13px 0 15px;
border-radius : 15px;
width : 384px;
color : #154468;
font-size : 12px;
word-spacing : 1px;
letter-spacing : 0.2px;
box-shadow : 3px 3px 5px 2px rgba(179, 179, 179, 1);
}
.autosearch > p {
margin-left : -8px;
text-align : center;
color : #154468;
font-family : arial black;
font-size : 12px;
}
.autosearch a {
float : right;
display : block;
margin : -4px 6px 8px 0;
font-style : italic;
font-size : 14px;
width : 51px;
height : 15px;
border-bottom : 2px solid #a6b1bc;
color : #154467;
}
.autosearch:after {
display : block;
clear : both;
content : '';
}
.left {
float : left;
margin-top : -13px;
text-align : left;
}
.disc {
margin-bottom : 2px;
padding : 2px 0 0 6px;
font-family : arial black;
font-size : 10px;
color : #154468;
}
.tires {
margin-bottom : 5px;
text-align : right;
font-family : arial black;
color : #154468;
font-size : 10px;
padding : 0 7px 0 0;
}
.leftcolumn {
float : left;
padding : 3px 0;
text-align : left;
width : 80px;
margin-bottom : 6px;
}
.leftcolumn span {
color : #88888888;
font-size : 9px;
}
.leftcolumn p {
margin : 5px 0;
padding-bottom : 0;
line-height : 9px;
color : #000;
font-family : arial;
font-size : 10px;
}
.leftcolumn p:first-child {
line-height : 8px;
}
.leftcolumn p:last-child {
padding-top : 4px;
}
.right {
margin : -16px 4px 0 0;
float : right;
text-align : left;
}
.rightcolumn {
float : right;
width : 92px;
}
.rightcolumn select {
margin : 1px 0px;
width : 98px;
}
.rightcolumn p:nth-child(3) select {
width : 55px;
}
.centerform {
margin : 0 11px 0 12px;
float : left;
width : 168px;
padding : 0 14px 0 10px;
border-radius : 18px;
box-shadow : 2px 3px 3px 1px rgba(179, 179, 179, 1);
}
.tiresearch:after {
display : block;
content : '';
clear : both;
}
.tiresearch > p {
color : #154468;
font-family : arial black;
font-size : 11px;
letter-spacing : 0.2px;
}
.tiresearch a {
float : right;
display : block;
/*width : 45px;*/
margin : 0 11px 0px 0;
font-style : italic;
font-size : 14px;
border-bottom : 2px solid #a6b1bc;
color : #154467;
}
.tireclass {
padding : 9px 0 0 4px;
margin : -5px 8px 0 0;
width : 36px;
float : left;
}
.tireclass p {
margin : 7px 0;
font-family : 'Lucida Sans Unicode';
font-size : 10px;
color : #000;
}
.tireclass p:nth-child(2) {
font-family : arial;
font-size : 11px;
text-align : right;
}
.tirechoose {
margin-top : 3px;
float : left;
/*width : 119px;*/
font-size : 12px;
}
.tirechoose [type="checkbox"] {
vertical-align : middle;
}
.tirechoose select {
margin : 4px 0;
width : 57px;
height : 18px;
font-size : 11px;
}
.tirechoose p:nth-child(2) select {
width : 50px;
}
.rightform {
border-radius : 18px;
box-shadow : 2px 3px 3px 1px rgba(179, 179, 179, 1);
}
.discsearch > p {
margin-top : 0px;
padding-left : 6px;
color : #154468;
font-family : arial black;
font-size : 13px;
}
.discsearch a {
float : right;
clear : both;
display : block;
width : 59px;
margin : 0px 12px 5px;
border-bottom : 2px solid #a6b1bc;
color : #154467;
font-style : italic;
font-size : 14px;
}
.discclass {
float : left;
padding : 5px 0 0 13px;
font-family : 'Lucida Sans Unicode';
font-size : 10px;
width : 90px;
line-height : 0;
}
.discclass p {
margin : 1px 0 3px 0;
font-size : 11px;
line-height : 9px;
}
.discclass p:nth-child(2) {
padding-top : 5px;
}
.discclass span {
font-size : 9px;
color : #888;
}
.discchoose {
margin-top : 0px;
line-height : 26px;
width : 0px;
float : left;
}
.discchoose select {
width : 48px;
height : 17px;
font-size : 10px;
}
.diametr {
float : right;
border-left : 1px solid grey;
margin-top : -16px;
width : 65px;
padding : 3px 14px 0 10px;
}
.diametr p {
font-size : 9px;
}
.diametr span {
display : block;
font-size : 8px;
color : grey;
}
.diametr select {
height : 17px;
width : 58px;
margin-bottom : 8px;
font-size : 11px;
}
section span {
letter-spacing : 0.5px;
}
.content {
margin-top : 7px;
position : relative;
overflow : hidden;
right: 1px;
}
.catalog {
width : 190px;
margin-right : 0px;
float : left;
}
.catalog p {
width : 180px;
border-radius : 12px;
border : #79878d solid 1px;
font-size : 14px;
text-transform : uppercase;
}
.catalog p:first-child {
font-family : 'Lucida Sans Unicode';
font-size : 12px;
margin : 4px 0 14px 0;
line-height : 12px;
letter-spacing : 0.4px;
}
.catalog > p:first-child:before {
display : inline-block;
content : url(../img/catalog.png);
vertical-align : middle;
margin : 2px 4px 0 2px;
}
.catalog .title {
padding-left : 0px;
width : 144px;
margin-left : 5px;
line-height : 16px;
}
.catalog .title::before {
margin-right : 3px;
display : inline-block;
content : url(../img/circle.png);
vertical-align : middle;
}
.catalog a {
display : block;
font-family : 'Lucida Sans Unicode';
font-size : 13px;
margin-left : 39px;
padding-left : 1px;
line-height : 25px;
letter-spacing : 0px;
}
.catalog a:before {
content : url(../img/linkcircle.png);
margin-left : 0px;
padding-right : 0px;
}
.catalog a:hover {
font-family : arial;
text-decoration : underline;
font-style : italic;
font-size : 13px;
font-style : italic;
font-weight : bold;
margin-bottom : 0;
letter-spacing : 0;
}
.centralcontent {
background : linear-gradient(to bottom, #e5e7e8, #93a7b0);
border-radius : 2px;
width : 527px;
float : left;
padding-bottom : 20px;
}
figure {
float : left;
width : 141px;
display : inline-block;
text-align : center;
margin : 10px 0px 0 20px;
padding : 7px 4px 0;
}
figure p {
margin-top : 1px;
color : #206988;
font-family : 'Lucida Sans Unicode';
font-size : 15px;
line-height : 14px;
letter-spacing : 0;
font-weight : 600px;
padding-left : 0px;
}
figure span {
margin-bottom : 0;
font-size : 12px;
display : block;
color : #1f2528;
line-height : 11px;
font-weight : normal;
}
figure img {
display : block;
padding : 5px 12px 3px 43px;
background : #fff;
border : #888 solid 1px;
border-radius : 10px;
margin-left : 0px;
}
figcaption {
padding-left : 10px;
padding-top : 4px;
font-size : 15px;
color : #114165;
font-style : italic;
font-family : arial;
font-weight : bold;
margin-bottom : 10px;
letter-spacing : 1px;
word-spacing : 1px;
}
.box1 img, .box4 img, .box7 img {
padding-left : 30px;
padding-right : 32px;
margin-top : 0;
}
.box2 img, .box5 img, .box8 img {
padding-left : 31px;
padding-right : 35px;
}
.box3 img, .box6 img, .box9 img {
padding-left : 25px;
padding-right : 31px;
}
.brands {
margin-top : 2px;
float : right;
padding-bottom : 1500px;
margin-bottom : -1500px;
}
.brands p {
width : 180px;
border-radius : 10px;
border : #79878d solid 1px;
font-size : 14px;
text-transform : uppercase;
}
.brands > p:first-child:before {
display : inline-block;
content : url(../img/brands.png);
vertical-align : middle;
margin-right : 5px;
margin-left : 2px;
}
.brands p:first-child {
font-family : 'Lucida Sans Unicode';
font-size : 13px;
line-height : 12px;
margin-bottom : 15px;
letter-spacing : 0.4px;
}
.brands .title {
margin-top : 4px;
width : 134px;
margin-left : 13px;
margin-bottom : 3px;
}
.brands .title::before {
margin-left : 4px;
margin-right : 4px;
display : inline-block;
content : url(../img/circle.png);
vertical-align : middle;
}
.brands li {
line-height : 24px;
font-family : "Lucida Sans Serif";
padding-bottom : 2px;
padding-left : 24px;
font-size : 13px;
list-style-type : none;
}
.brands label {
font-family : 'arial regular';
font-size : 15px;
color : #b0b8bc;
margin-left : 11px;
display : inline-block;
margin-top : -1px;
}
.brands [type="button"] {
height : 26px;
width : 81px;
color : #fff;
background : linear-gradient(to bottom, #1f6787, #0d3458);
border-radius : 13px;
border : solid 0;
font-size : 11px;
font-family : 'Arial';
letter-spacing : 1px;
margin-top : 12px;
margin-left : 22px;
padding-left : 5px;
text-transform : uppercase;
cursor : pointer;
}
footer {
text-align : center;
margin-top : 21px;
}
.logo {
margin-bottom : 22px;
}
.footermenu {
width : 911px;
height : 100px;
background : #213a4d;
margin : 0 auto;
}
footer ul {
margin-left : 0px;
padding-top : 10px;
font-size : 12px;
}
footer li {
display : inline-block;
color : #888888;
line-height : 14px;
padding : 0 9px;
border-left : 1px solid #fff;
}
footer li:first-child {
border-left : 0;
}
footer a {
display : block;
letter-spacing : 0.4px;
color : #fff;
font-family : arial;
}
footer p {
font-size : 10px;
margin-top : 14px;
margin-right: 4px;
color : #7f4740;
letter-spacing: 0.3px;
}
footer a:hover {
color : rgb(82, 171, 203);
}