* {
	margin: 0;
	padding: 0;	
}
.all{	
	padding: 10px;
background-color: #fff;
}
.wrapper{

}
table{
	
	
	border-collapse: collapse;
}
td {
	padding: 100px;
	border: 10px solid #000;
	
}
td.firstline {
	padding: 20px 100px;
}
td.firstline:first-child {
	/*padding: 0 30px;*/
}
td.firstline:nth-child(3) {
	background: yellow;
}

td.secondline:nth-child(2){
	padding: 150px 100px;
	background:  red;	
}

td.secondline:last-child {
	background: yellow;

}
.fourthline {
	padding: 40px;
}
td.fourthline:first-child {
	background: black;
}
.fifthline {
	padding: 20px 10px;
}
td.fifthline:first-child{
	background: yellow;
}
.fifthline:nth-child(3){
	background: blue;
}
.sixthline {
	padding: 20px 80px;
}
.sixthline:nth-child(2){
	background: black;
}
.seventhline {
	padding: 10px 20px;
}
