* {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica Neue', Tahoma, sans-serif;
}
.wrapper{
	width: 910px;
	padding: 16px 45px;
	margin: 0 auto;
}
/*////////////////////////////HEADER///////////////////////////////////////////////*/
.phone:before{
	content: url(../img/phone.png);
	position: relative;
	top: 7px;
	left: 7px;
	margin-right: 6px;
}
.phone{
	float: left;
	padding-right: 21px;
	font-family: 'TIMES NEW ROMAN', Tahoma, sans-serif;
	}
.phone span{
	padding: 0px 0px 0px 6px;
	font-size: 18px;
	color: grey;
}
.login form:before{
	content: url(../img/login.png);
	position: relative;	
	top: 7px;
	padding-left: 2px;
	margin-right: 2px;
}
form {
	margin: -4px 3px;
}
.login{
	float: left;
	padding: 5px 4px 7px 0px;
	font-family: "Lucida Sans Unicode";
	font-size: 12px;
	border-radius: 3px;
	background: linear-gradient(to bottom, #1f6787, #0d3458);
	box-shadow: 2px 2px 2px 0px rgb( 150, 150, 150 );
}
.log_in, .password {
	line-height: 14px;
	width: 109px;
	margin-right: 3px;
	padding-left: 3px;
}
.login [placeholder] {
	letter-spacing: 0px;
}
.enter {
	margin-right: 2px;
	letter-spacing: -1px;
	color: white;
	background: rgba(0,0,0,0);
	border: 1px solid rgba(0,0,0,0);
}
.login a {
	display: inline-block;
	line-height: 9px;
	color: white;
	letter-spacing: -1px;
}
.reg{
	text-decoration: none;
	padding-left: 2px;
	margin-right: 12px;
}
	a.forgetpswrd {
		color: #bfbfbf;	
		padding: 10px 0px 0px 15px;
		float: right;
		text-align: right;
		letter-spacing: 0px;
	}
	header a:hover {
		text-decoration: underline;
	}
	.sitemap {	
		float: left;
		width: 65px; 
		border: 1px solid #d3d8da;
		border-radius: 13px;
		padding: 0px 0px 0px 2px;
		margin: 0px 0px 0px 23px;
		box-shadow: 0px 0px 1px 1px rgba(211,216,218,1);
	}
	.sitemap li{
		display: inline
	}
	.sitemap span{
		margin-top: 5px;
		float: left;
		padding: 2px 4px;
		line-height: 10px;
	}
	header:after {
		clear: both;
		display: block;
		content: '';
	}
	/*/////////////////////IMG/////////////////////////////////////////////////*/
	.foto{
		padding-bottom: 0px;
	}
	.foto img {
		padding: 13px 0px 0px 0px;
		margin: 0px;
	}
	/*//////////////////////////MENU/////////////////////////////////////*/
	.menu:before {
		display: block;
		content: '';
		height: 3px;
		background: linear-gradient(to bottom, #4d5662, #3a4046);
	}
	.menu{
	padding-left: 133px;
		font-size: 14px;
		font-family: 'Lucida Sans Unicode';		
		line-height: 35px;
		background: linear-gradient(to bottom, #3a4046, #010101);	
		border-radius: 4px;			
}
.left_menu{
	float: left;
}
.left_menu li {
	display: inline;
	padding: 0px 3px 0px 0px;
}
.menu a:hover   {
	background: #195779;
	border-radius: 13px;
	color: white;
}
.left_menu a {
	text-decoration: none;

	padding: 5px 14px;
	color: #b1bcc0;
	font-size: 13.5px;
	letter-spacing: 0.1px;
	word-spacing: -0.3px;
}
.menu a:hover   {
	background: #195779;
	border-radius: 13px;
	color: white;
}
.rightmenu {
	margin-right: 18px;
	text-align: right;
	font-size: 11px;
	letter-spacing: 0.12px;
}

.rightmenu li {
	 list-style-type: none;	
	margin-top: -3px;
	color:  #868e92;
	float: right;
	padding-left: 10px;
}
.rightmenu span {
	display: block;
	margin-top: 1px;
	font-family: arial;
	font-size: 12px;
	color: #0d5a8f;
	letter-spacing: 0.3px;
}
.rightmenu a{
	text-decoration: none;
}
.rightmenu:after {
	content: url(../img/basket.png);
	display: block;
	margin-top: 3px;
	
}
.rightmenu li:nth-child(3){
	width: 3px;
	padding: 0 7.6px 0 1px;
}

.rightmenu li:nth-child(4) {
	padding-right: 2px;
	padding-left: 6px;
}
/*/////////////////////////FORMS//////////////////////////////////////*/
.forms {
	margin-top: 9px;
	padding: 0 6px;
}
.forms:after{
	clear: both;
	display: block;
	content: '';
}
/*/////////////////LEFT FORM//////////////////////////////////////////*/
.leftform {
	float: left;
	margin-top: 1px;
	padding: 0 11px 0 16px;
	border-radius: 18px;
	width: 385px;
	color: #154468;
	font-size: 12px;
	word-spacing: 1px;
	letter-spacing: 0.2px;
	box-shadow: 3px 3px 5px 2px rgba(179,179,179,1);
}
.autosearch > p {
	margin-left: -10px;
	text-align: center;	
	color: #154468;
	font-family: arial black;
	font-size: 12px;
}
.autosearch  a {
	float: right;
	display: block;
	margin: -6px 8px 8px 0;
	font-style: italic;
	font-size: 14px;
	width: 51px;
	height: 15px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
}
.autosearch:after{
	display: block;
	clear: both;
	content: ''; 
}
.left {
	float: left;
	margin-top: -15px;
	text-align:left;
}
.disc {
	margin-bottom: 3px;
	padding: 2px 0 0 3px;
	font-family: arial black;
	font-size: 10px;
	color: #154468;
}
.tires {
	margin-bottom: 3px;
	text-align: right;
	font-family: arial black;
	color: #154468;
	font-size: 10px;
	padding: 0 7px 0 0;
}
.leftcolumn {
	float: left;
	padding: 4px 0;
 	text-align: left;
	width: 77px;
	margin-bottom: 5px;
}
.leftcolumn span {
	color: grey;
	font-size: 9px;
}
.leftcolumn p {
	margin: 5px 0;
	padding-bottom: 0px;
	line-height: 9px;
	color: black;
	font-family: arial;
	font-size: 10px;
}
.leftcolumn p:first-child{
	line-height: 8px;
}
.leftcolumn p:last-child{
	padding-top: 5px;
}
.right {
	margin: -16px 5px 0px 0px;
	float: right;
	text-align: left;
}
.rightcolumn {
	float: right;
	width: 100px;
}
.rightcolumn select {
	margin: 1px 1px;
	width: 101px;
}
.rightcolumn p:nth-child(3) select {
	width: 57px;
}
/*//////////////////////////////CENTERFORM/////////////////////////////////////////////*/
.centerform {
	margin: 0 9px 0 13px;
	float: left;
	width: 166px;
	padding: 0 14px 0px 10px; 
	border-radius: 18px;
	-webkit-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
-moz-box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
}
.tiresearch:after {
	display: block;
	content: '';
	clear: both;
}
.tiresearch > p {
	color: #154468;
	font-family: arial black;
	font-size: 11px;
	letter-spacing: 0.2px;
}
.tiresearch a {
	float: right;
	display: block;
	width: 45px;
	margin: 0px 11px 5px 0;
	font-style: italic;
	font-size: 14px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
}
.tireclass {
	padding: 14px 0 0 1px;
	margin: -6px 7px 0 0;
	width: 36px;
	float: left;
}
.tireclass p {
	margin: 7px 0;
	font-family: 'Lucida Sans Unicode';
	font-size: 10px;
	color: black;
}
.tireclass p:nth-child(2) {
	font-family: arial;
	font-size: 11px;
	text-align: right;
}
.tirechoose {
	margin-top: 3px;
	float: left;
	width: 114px;
	font-size: 12px;
}
.tirechoose [type="checkbox"] {
	vertical-align: middle;
}
.tirechoose select {
	margin: 5px 0px;
	width: 55px;
	height: 16px;
	font-size: 11px;
}
.tirechoose p:nth-child(2) select {
	width: 49px;
}
/*//////////////////////////RIGHTFORM////////////////////////////////*/
.rightform {
		border-radius: 18px;
box-shadow: 2px 3px 3px 1px rgba(179,179,179,1);
}
.discsearch > p {
	margin-top: -3px;
	padding-left: 7px;
	color: #154468;
	font-family: arial black;
	font-size: 13px;
}
.discsearch a {
	float: right;
	clear: both;
	display: block;
	width: 59px;
	margin: -8px 9px 6px;
	border-bottom: 2px solid #a6b1bc;
	color: #154467;
	font-style: italic;
	font-size: 14px;
}
.discclass {
	float: left;
	padding: 2px 0 0 14px;
	font-family: 'Lucida Sans Unicode';
	font-size: 10px;
	width: 89px;
	line-height: 0px;
}
.discclass p {
	margin: 2px 0 6px 0px;
	font-size: 11px;
	line-height: 8px;
}
.discclass p:nth-child(2){
	padding-top: 5px;
}
.discclass span {
	font-size: 9px;
	color: grey;
}
.discchoose {
	margin-top: -5px;
	line-height: 30px;
	width: 0px;
	float: left;
}
.discchoose select {
	width: 52px;
	height: 17px;
	font-size: 10px;
} 
.diametr {
	float: right;
	border-left: 1px solid grey;
	margin-top: -16px;
	width: 65px;
	padding: 3px 14px 0px 10px;
}
.diametr p {
	font-size: 9px;
}
.diametr span {
	display: block;
	font-size: 8px;
	color: grey;
}
.diametr select {
	height: 17px;
	width: 58px;
	margin-bottom: 8px;
	font-size: 11px;
}
section  span {
	letter-spacing: 0.5px;
}
/*///////////////////CONTENT/////////////////////*/
/*///////////////////LEFT////////////////////////*/
.content {
	margin-top: 8px;
	position: relative;
	overflow: hidden;
	left: 0px;

}
.catalog {
	width: 190px;
	margin-right: 0px;
	float: left;
}
.catalog p {
	width: 180px;
	border-radius: 12px;
	border: 1px solid #79878d;
	font-size: 14px;
	text-transform: uppercase;
}
.catalog p:first-child {
	font-family: 'Lucida Sans Unicode';
	font-size: 12px;
	margin: 2px 0 12px 0;
	line-height: 12px;
	letter-spacing: 0.4px;
}
.catalog > p:first-child:before {
	display: inline-block;
	content: url(../img/catalog.png);
	vertical-align: middle;
	margin: 2px 4px 0 2px;
}
.catalog .title {
	padding-left: 4px;
	width: 144px;
	margin-left: 2px;
	line-height: 16px;
}
.catalog .title::before {
	margin-right: 2px;
	display: inline-block;
	content: url(../img/circle.png);
	vertical-align: middle;
}
.catalog a {
	display: block;
	font-family: 'Lucida Sans Unicode';
	font-size: 13px;
	margin-left: 40px;
	padding-left: 1px;
	line-height: 25px;
	letter-spacing: -0.1px;
}
.catalog a:before{
	content: url(../img/linkcircle.png);
	margin-left: -3px;
	padding-right: 2px;	
}
.catalog a:hover {
	font-family: arial;
	text-decoration: underline;
	font-style:italic;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0px;
	letter-spacing: 0px;
}
/*////////////////////////////CENTRAL/////////////////////////////////////*/
.centralcontent {
	background: linear-gradient(to bottom, #e5e7e8, #93a7b0);
	border-radius: 2px;
	width: 527px;
	float: left;
	padding-bottom: 20px;
}
figure {
	float: left;
	width: 141px;
	display: inline-block;
	text-align: center;
	margin: 9px -1px 0 9px;
	padding: 6px 9px 0;
}
figure p {
	margin-top: 1px;
	color: #206988;
	font-family: 'Lucida Sans Unicode';
	font-size: 15px;
	line-height: 14px;	
	letter-spacing: 0px;
	font-weight: 600;
	padding-left: 13px;
}
figure span{
	margin-bottom: 0px;
	font-size: 12px;
	display: block;
	color: #1f2528;	
	line-height: 11px;	
	font-weight: normal;
	
}
figure img {
	display: block;
	padding: 4px 28px 4px 27px;
	background: white;
	border: 1px solid grey;
	border-radius: 7px;
	margin-left: -4px;
}
figcaption {
    padding-left: 29px;
    padding-top: 4px;
    font-size: 15px;
    color: #114165;
    font-style: italic;
    font-family: arial;
    font-weight: bold;
    margin-bottom: 9px;
    letter-spacing: 1px;
    word-spacing: 1px;
}
.box1 img, .box4 img, .box7 img {
	padding-left: 28px;
	padding-right: 31px;
	margin-top: 0px;
}
.box2 img, .box5 img, .box8 img {
	padding-left: 32px;
	padding-right: 34px;
}
/*///////////////////////RIGHT////////////////////////////////*/
.brands {
	margin-top: 0px;
	float: right;
	padding-bottom: 1500px;
	margin-bottom: -1500px;
}
.brands p {
	width: 180px;
	border-radius: 12px;
	border: 1px solid #79878d;
	font-size: 14px;
	text-transform: uppercase;
}
.brands > p:first-child:before {
	display: inline-block;
	content: url(../img/brands.png);
	vertical-align: middle;
	margin-right: 5px;
	margin-left: 2px;
}
.brands p:first-child {
	font-family: 'Lucida Sans Unicode';
	font-size: 13px;
	line-height: 12px;
	margin-bottom: 15px;
	letter-spacing: 0.4px;
}
.brands .title {
	margin-top: 4px;
	width: 134px;
	margin-left: 13px;
	margin-bottom: 3px;
}
.brands p:nth-child(3) {

}
.brands .title::before {
	margin-left: 4px;
	margin-right: 4px;
	display: inline-block;
	content: url(../img/circle.png);
	vertical-align: middle;
}
.brands li {
	line-height: 24px;
	font-family: "Lucida Sans Serif";
	padding-bottom: 2px;
	padding-left: 24px;
	font-size: 13px;
	 list-style-type: none;
}
.brands label {
	font-family: 'arial regular';
	font-size: 15px;
	color: grey;
	margin-left: 11px;
	display: inline-block;
	margin-top: -1px;
}
.brands  [type="button"] {
	height: 26px;
	width: 81px;
	color: white;
	background: linear-gradient(to bottom, #1f6787,#0d3458);
	border-radius: 13px;
	border: 0px solid;
	font-size: 11px;
	font-family: 'Arial';
	letter-spacing: 1px;
	margin-top: 12px;
	margin-left: 23px;
	padding-left: 4px;
	text-transform: uppercase;	
}
/*//////////////////////////FOOTER//////////////////////////////*/
footer {
	text-align: center;
	margin-top: 25px;
}
.logo {
	margin-bottom: 21px;
}
.footermenu {
	width: 911px;
	height: 100px;
	background: #213a4d;
	margin: 0 auto;
}
footer ul {
	margin-left: 36px;
	padding-top: 11px;
	font-size: 12px;
	letter-spacing: ;
}
footer li {
	display: inline-block;
	color: grey;
	line-height: 11px;
	padding: 0 15px;
	border-left: 1px solid white;
}
footer li:first-child {
	border-left: 0px;
}
footer a {
	display: block;
	letter-spacing: 0.4px;
	color: white;
	font-family: arial;
}
footer p {
	font-size: 10px;
	margin-top: 14px;
	color: #7f4740;
}
footer a:hover {
	color: rgb( 82, 171, 203 );
}
